<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/loginstyles.css')}}">
  </head>

  <body>
    <div>

      <center>
        <h2>
          <u>
            Book Information
          </u>
        </h2>
      </center>

      Title: {{title}}
      <br>
      <br>
      Author: {{author}}
      <br>
      <br>
      ISBN: {{isbn}}
      <br>
      <br>
      Year: {{year}}
      <br>
      <br>
      Average Reader Rating on Goodreads: {{average_rating}}
      <br>
      <br>
      Number of Reviews on Goodreads: {{total_reviews}}

    </div>

      <h3>
          <u>
            User Reviews
          </u>
      </h3>


      {% for review in reviews %}
        <div style="border: 2px solid white;border-radius:5px; width:28%">
          <h4>
            Review by User: {{review[0]}}
          </h4>
          {{review[1]}}
          <br>
          <br>
        </div>
        <br>
      {% endfor %}


    <form id = "form1" action="{{ url_for('submit_review', isbn=isbn) }}" method="POST">
      <textarea style="width:500px; height:100px" name = 'text'>
      </textarea>
    </form>

    <button type="submit" form="form1" value="Submit">Submit</button>
  </body>
</html>
