<!DOCTYPE html>
<html>
  <body>

    <center>
      <div class="topnav" style="margin-top:150px">
        <img src = {{ url_for('static', filename='book_icon.png') }} style="width:160px">
        <form action = "{{ url_for('search') }}" method="POST">
          Search By: ISBN Author & Book Title
          <br>
          <input type="text" placeholder="Search" name="Searchbar1">
          <input type="text" placeholder="Search" name="Searchbar2">
          <input type="text" placeholder="Search" name="Searchbar3">
          <br>
          <a>
            <button style="margin-top:20px; width:200px">
              Search
            </button>
          </a>
        </form>
      </div>
   </center>
   <br>
  </body>
</html>
