<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/loginstyles.css') }}">
  </head>

  <body>
    <center>
      <div style="margin-top:220px">
        <img src = {{ url_for('static', filename='book_icon.png') }} style="width:160px">
        <form action = "{{ url_for('login') }}" method="POST">
            Username <input type="text" name="username">
            Password
          <input type="password" name="password">
          <br>
          <a>
            <button style="margin-top:20px; width:200px">
              Login
            </button>
          </a>
        </form>

          <h3>
            New User?
              <a href= "{{ url_for('newuser') }}"> Register Here!</a>
          </h3>
      </div>

    </center>

  </body>

</html>
